/* loading screen start */
.loading-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--background-color);
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 9999;
}

.loading-screen p {
  margin-top: 40px;
  font-size: 1.5rem;
  color: #0c1618;
}

.loader {
  width: 56px;
  height: 56px;
  border: 3px solid #1ca0de;
  border-right-color: transparent;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}